/**
 * Search area
 */
.search-area {
	background-color: #333;
	display: none;
	padding: 40px 0;

	.field {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid #999;
		color: #fff;
		padding: 10px 0;
		width: 100%;
		&:focus {
			outline: none;
		}
	}

}

/**
 * Header
 */
.site-header {
	padding: 240px 0;
	position: relative;
}

.site-branding {
	position: absolute;
	top: 70px;
	text-align: center;
	left: 0;
	right: 0;
	z-index: 1;

	.site-title {
		text-transform: uppercase;
		a {
			border: 3px double #fff;
			color: #fff;
			padding: 5px 25px;
			&:hover {
				border-color: $color-1;
			}
		}
	}

	.site-description {
		color: #fff;
		font-family: $body-font-family;
		font-size: 18px;
		font-style: italic;
	}

}

/**
 * Page header
 */
.page-title {
	font-size: 30px;
}

.page-header {
	border-bottom: 1px dotted darken($border-color, 5%);
	margin-bottom: 27px;
	@extend %clearfix;

	.author & {
		.page-title {
			margin-top: 0;
			overflow: hidden;
		}
		p {
			overflow: hidden;
		}
	}

	.page-title {
		margin-top: 0;
	}

	p {
		color: #999;
	}

	.avatar {
		border-radius: 50%;
		margin-right: 27px;
		float: left;
	}

}