.widget {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 60px;

	ul {
		@extend %reset-list;
	}

	li {
		border-bottom: 1px dotted darken($border-color, 5%);
		padding: 6px 0;
		&:first-child {
			padding-top: 0;
		}
		a {
			color: $color-3;
			&:hover {
				color: $color-1;
			}
		}
	}

	select {
		border: 1px solid #eee;
		width: 100%;
	}

}

.widget-title {
	background-color: #333;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 12px 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;

	&::after {
		content: "";
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #fff;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
	}
}

.widget_archive,
.widget_categories {
	@extend %clearfix;

	li {
		text-align: right;
		@extend %clearfix;
	}

	a {
		float: left;
	}

}

.widget_rss {
	li {
		a {
			color: $color-1;
		}
	}
}

.widget_search {

	.field {
		width: 100%;
	}

}

.widget_tag_cloud {

	a {
		background-color: $color-1;
		border-radius: 3px;
		color: $color-2;
		padding: 2px 8px;
		margin-right: 5px;
		margin-bottom: 8px;
		display: inline-block;
		letter-spacing: 1px;
		line-height: 1.5;
		text-transform: uppercase;
		&:hover {
			color: $color-2;
			opacity: .75;
		}
	}

}

.widget_nav_menu {

	.sub-menu {
		padding-left: 20px;
		li {
			&:first-child {
				padding-top: 5px;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}

}

.widget_recent_entries {

	li {
		@extend %clearfix;
	}

	a {
		float: left;
		line-height: 1.5;
		width: 65%;
	}

	.post-date {
		color: #777;
		font-size: 14px;
		float: right;
	}

}

.widget_calendar {

	table {
		margin-bottom: 0;

		tfoot {
			td {
				padding: 0;
			}
		}
	}

}