.widget {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 60px;
	word-wrap: break-word;

	.widget-area & {
		@include susy-media(601px 801px) {
			@include span(6 of 12);
			&:nth-child(2n+2) {
				@include last;
			}
			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}

	ul {
		@extend %reset-list;
	}

	li {
		padding: 6px 0;
		border-bottom: 1px dotted darken($border-color, 5%);
		&:first-child {
			padding-top: 0;
		}
		a {
			color: $color-3;
			&:hover {
				color: $color-1;
			}
		}
	}

	select {
		width: 100%;
		border: 1px solid #eee;
	}
}

.widget-title {
	font-size: 14px;
	position: relative;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 12px 0;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	background-color: #333;

	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		margin: auto;
		content: "";
		border-right: 5px solid transparent;
		border-bottom: 5px solid #fff;
		border-left: 5px solid transparent;
	}
}

.widget_archive,
.widget_categories {
	@extend %clearfix;

	li {
		@extend %clearfix;
		text-align: right;
	}

	a {
		float: left;
	}
}

.widget_rss {
	li {
		a {
			color: $color-1;
		}
	}
}

.widget_search {
	.field {
		width: 100%;
	}
}

.widget_tag_cloud {
	a {
		font-size: 12px;
		line-height: 1.5;
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 8px;
		padding: 2px 8px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-3;
		border: 3px double $border-color;
		background-color: #fff;
		&:hover {
			color: $color-2;
			background-color: $color-1;
		}
	}
}

.widget_nav_menu {
	.sub-menu {
		padding-left: 20px;
		li {
			&:first-child {
				padding-top: 5px;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}

.widget_recent_entries {
	li {
		@extend %clearfix;
	}

	a {
		line-height: 1.5;
		float: left;
		width: 65%;
	}

	.post-date {
		font-size: 14px;
		float: right;
		color: #777;
	}
}

.widget_calendar {
	table {
		margin-bottom: 0;

		tfoot {
			td {
				padding: 0;
			}
		}
	}
}

.widget_recent_entries_thumbnail {
	line-height: 1.3;

	li {
		@extend %clearfix;
		padding: 15px 0;
	}

	.entry-thumbnail {
		float: left;
		max-width: 88px;
		margin: 0 15px 0 0;
	}

	.entry-meta {
		font-size: 14px;
		margin-top: 3px;
		color: #999;
	}
}

.widget {
	&.widget_social,
	&.widget_wpcom_social_media_icons_widget {
		a {
			line-height: 1;
			display: inline-block;
			width: 35px;
			height: 35px;
			margin-right: 8px;
			margin-bottom: 8px;
			padding: 7px;
			text-align: center;
			color: #454545;
			border: 3px double $border-color;
			background-color: #fff;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: $color-2;
				background-color: $color-1;
			}
		}
	}
}

.jetpack_subscription_widget {
	#subscribe-text {
		p {
			margin-bottom: 14px;
		}
	}

	#subscribe-email {
		margin-bottom: 14px;
		input {
			padding: 5px 10px;
		}
	}
}
